
  body {
    background-repeat: no-repeat; 
    font-family: 'Source Sans Pro', sans-serif;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
/*    height: 100% !important;*/
  }

  button {
  background: #D3DCE1;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 20px;
  height: 45px;
  width: 320px;
  margin: 0px -20px;
  outline: none;
  cursor: pointer;
}

.detail1 {
  background: #D3DCE1;
  width: 320px;
  height: 65px;
  color: #1d3c6a;
  margin: 0 auto 20px;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  font-size: 20px;
}

.detail2 {
  background: #D3DCE1;
  width: 320px;
  height: 45px;
  color: #1d3c6a;
  margin: 0 auto 20px;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  font-size: 20px;
}

.detail3 {
  background: #D3DCE1;
  width: 320px;
  height: 65px;
  color: #1d3c6a;
  margin: 0 auto 20px;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  font-size: 20px;
}

.logo {
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
  .tranny {
    background:rgba(255,255,255, 0.9);
    border-radius: 5px;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    margin-top: 50px;
    height: 560px;
    width: 90%;
  }

  .ios {
    padding-top: 10px;
    width: 100px;
  }

  .play {
    padding-top: 10px;
    width: 110px;

  }

  p {
    font-size: 20px;
    color: dimgray;
  }

  @media only screen and (min-width: 870px)  {

    .tranny {
      width: 40%;
    }
   }